*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

#container{
   width: 1000px;
   height: 910px;
    border: 3px solid red;
    background-color: rgba(237, 196, 60, 0.875);
    display: flex;
    justify-content:center;

}

.circle{
    width: 220px;
    height: 150px;
    border: 2px solid rgb(79, 230, 33);
    background-color: rgb(75, 200, 222, 0.9);
}